/*GENERAL BODY*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-size: 0-9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #606060;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 168, 255, 0.3),
      rgba(0, 168, 255, 0.3)
    ),
    url("../images/DATA\ STRUCTURES.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
  position: relative;
  margin-bottom: 500px;
}

.header:before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  opacity: 0.3;
  z-index: -1;
  /*background: linear-gradient(to right, #5ad81f 0%, #1dca79 0% , #6ff1e0 100%);*/
}

.navbar:before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  opacity: 0.3;
  z-index: -1;
  /* background: linear-gradient(to right, #5ad81f 0%, #1dca79 0% , #6ff1e0 100%);*/
}

.nav-item a {
  color: #3498db!important;
  font-weight: bold;
  font-size: 18px;
 }
 .col-md-6 p,li{
   color: black;
   font-size: 19px;
 }

.navbar-toggle-icon {
  background-color: white !important;
}
.navbar-toggler {
  background-color: rgb(19, 90, 223) !important;
}

.header-section {
  width: 100%;
  height: inherit;
  color: white;
  text-align: center;
  position: relative;
}

.center-div {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.header-buttons a {
  border: 1px solid #fff;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.header-buttons a:hover {
  color: #50d1c0;
  background: #fff;
  text-decoration: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.center-div p {
  font-size: 1.3rem;
  padding: 10px 0 20px 0;
  color: white;
}

.header-extradiv {
  width: 100%;
  height: auto;
  margin: 100px 0;
  text-align: center;
}

.extra-div {
  background: #fff;
  border: medium none;
  padding: 50px !important;
  border-radius: 3px;
  transition: 0.3s;
}

.extra-div:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
}

/*STRUCTURES*/
.structures {
  margin-bottom: 500px;
}

.structures p,
ul {
  text-align: center;
}

.hasValue{
  display: inline-block !important;
}

.hasNotValue{
  display: none !important;
}
.linkedlisttext{
  padding: 8px;
}

/*BUTTONS*/
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
   position: relative;
   -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color:#0D0D0D;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  margin: 4px 2px;
  transition-duration: 0.6s;
  cursor: pointer;
  border-radius: 10px;
 
}
.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2fbbe7;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 10px;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: white;
  background: #2fbbe7;
  }
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




.Stack,
.Queue,
.BinarySearchTree,
.LinkedList {
  background: rgba(21, 151, 53, 0.3);
  background: #f7f7f9;

  margin-bottom: 100px;
  /*  margin-top:1000px;  */
}

.accordion h2 {
  text-align: center;
}

.accordion button {
  font-size: 1em;
}

.algorithm-card {
  min-height: 1000px;
}

/* .card-body {
} */

.card-body p1 {
  color: black;
  font-weight: 900;
  background-color: #f7f7f9;
}

.card-body h3 {
  /*background-color: rgba(0, 168, 255, 0.3);*/
  background-color: #3498db;
  font-size: 25px;
  background-size: auto;
  text-align: center;
}
.row{
  padding-top: 30px;
}
.algorithms-body {
  height: 650x;
}

.queue_container {
  margin: 0 auto;
  width: 100%;
}
/*ll arrows*/
.fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  color:#3498db;
}

.col-sm {
  padding: 0px !important;
}

.square {
  display: inline-block;
  position: relative;
  margin: 3px;
  width: 85px !important;
  height: 100px;
  border-radius: 20%;
  box-sizing: border-box;
  border: 3px solid #3ed4ee;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.index,
.value {
  text-align: center;
}

/* .content {
  position: absolute;
  width: 50%;
  height: 50%;
} */

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

hr {
  margin-left: 15px;
  margin-right: 15px;
  background-color: darkgrey;
}

.headings {
  margin-bottom: 50px;
}

.headings h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

/**--FOOTER--**/
.footersection {
  /*  background-color:#b6f1ea; */
  /*background-color: rgba(0, 168, 255, 0.3);*/
  background-color:#2fbbe7 ;
  padding: 2rem 0 2rem;
  margin-top: 500px;
}

.footerscetion img {
  box-align: center;
  align-self: center;
  vertical-align: center;
  border: 0rem;
}

.footersection a {
  color: rgb(70, 156, 236);
}

.footersection i {
  text-align: center;
  font-size: 1.6rem;
  margin: 1.2rem 0.5rem 0 0;
}

html {
  scroll-behavior: smooth;
}

